{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="form-group">
        <h1 class="my-4">Administración de Marcas</h1>
        <div class="text-right mb-3">
            <a href="configuracion">
                <button class="button-3" role="button">Volver</button>
            </a>
        </div>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        <div class="my-card mb-4" style="padding: 20px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); border-radius: 5px; background-color: #fff;">
            <form method="POST" action="/admin/marcas" class="mb-3">
                <div class="form-group">
                    <label for="name">Nombre de la marca</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Agregar Marca</button>
                </div>
            </form>
        </div>

        <div class="table-responsive">
            <!-- Listado de marcas existentes -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-end">ID Marca</th>
                        <th class="text-end">Nombre Marca</th>
                        <th class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                    <tr>
                        <td class="text-end">{{ marca.id }}</td>
                        <td class="text-end">{{ marca.name }}</td>
                        <td class="text-end custom-td">
                            <div class="custom-form-container">
                                <!-- Formulario para editar marca -->
                                <form method="POST" action="{{ url_for('actualizar_marca', id=marca.id) }}" class="custom-edit-form">
                                    <input type="text" name="name" value="{{ marca.name }}" required class="form-control custom-input" style="width: 150px;">
                                    <button type="submit" class="btn btn-success btn-sm">Actualizar</button>
                                </form>
                        
                                <!-- Formulario para eliminar marca -->
                                <form method="POST" action="{{ url_for('eliminar_marca', id=marca.id) }}" class="custom-delete-form">
                                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
