{% extends "base.html" %}
{% block content %}
<div class="container">

    <div class="form-group">
        <h1 class="my-4">Administración de productos</h1>
        <div class="text-right">
            <a href="configuracion">
                <button class="button-3" role="button">Volver</button>
            </a>
        </div>
        
    </div>
    <div class="row justify-content-center">
        <div class="section"></div>
        <div class="my-card mb-4" style="padding: 20px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); border-radius: 5px; background-color: #fff;">
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Nombre del producto</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input type="text" class="form-control" id="price" name="price" required oninput="formatPrice(this)">
                </div>
                <div class="form-group">
                    <label for="marca">Marca</label>
                    <input type="text" class="form-control" id="marca" name="marca" required>
                </div>
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="text" class="form-control" id="stock" name="stock" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción del producto</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required oninput="autoGrow(this)" maxlength="1000"></textarea>
                    <small class="form-text text-muted">Máximo 1000 caracteres.</small>
                </div>
                <div class="form-group">
                    <label for="category_id">Categoría</label>
                    <select class="form-control" id="category_id" name="category_id" required>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="images">Añadir imágenes</label>
                    <input type="file" class="form-control" id="images" name="images" accept="image/*" multiple>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Agregar Producto</button>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        // Formatear el precio con puntos
        function formatPrice(input) {
            let value = input.value.replace(/\D/g, ''); // Eliminar cualquier carácter que no sea un dígito
            value = new Intl.NumberFormat('de-DE').format(value); // Aplicar el formato con puntos
            input.value = '$' + value;
        }
    
        // Hacer que el textarea crezca automáticamente al escribir
        function autoGrow(element) {
            element.style.height = 'auto';
            element.style.height = (element.scrollHeight) + 'px';
        }
    </script>
    

    <!-- Filtro de categorías -->
    <div class="form-group">
        <label for="filter-category">Filtrar por categoría:</label>
        <select id="filter-category" class="form-control" onchange="filterProductsByCategory()">
            <option value="all">Todas las categorías</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.name }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Listado de productos existentes -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-end">ID Producto</th>
                    <th class="text-end">Nombre Producto</th>
                    <th class="text-end">Precio</th>
                    <th class="text-end">Categoría</th>
                    <th class="text-end">Descripcion</th>
                    <th class="text-end">Stock</th>
                    <th class="text-end">Imágenes</th>
                    <th class="text-end">Acciones</th>
                </tr>
            </thead>
            <tbody id="product-table-body">
                {% for producto in productos %}
                <tr class="product-row" data-category-id="{{ producto.categoria.id }}">
                    <td class="text-end">{{ producto.id }}</td>
                    <td class="text-end">{{ producto.name }}</td>
                    <td class="text-end">{{ producto.price }}</td>
                    <td class="text-end">{{ producto.categoria.name }}</td>
                    <td class="text-end">{{ producto.descripcion }}</td>
                    <td class="text-end">{{ producto.stock}}</td>
                    <td class="text-end">
                        {% for imagen in producto.imagenes %}
                        <div>
                            <img class="pull-right carousel-img" src="{{ url_for('static', filename=imagen.image_url.split('static/')[-1]) }}" alt="Imagen de {{ producto.name }}">
                        </div>
                        {% endfor %}
                    </td>
                    <td class="text-end">                
                        <form method="POST" action="{{ url_for('eliminar_producto', id=producto.id) }}" class="d-inline-block eliminar-form text-right">
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function filterProductsByCategory() {
            const selectedCategory = document.getElementById('filter-category').value;
            const rows = document.querySelectorAll('.product-row');
    
            rows.forEach(row => {
                if (selectedCategory === 'all' || row.getAttribute('data-category-id') === selectedCategory) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }
    </script>
    
</div>
{% endblock %}
