{% extends "base.html" %}
{% block content %}
        <div class="reset-password-container">
            <div class="reset-password-background">
                <div class="container">
                    <div class="form-container">
                        <!-- Formulario para solicitar el restablecimiento de contraseña -->
                        <form id="request-reset-form" action="/sendResetCode" method="POST">
                            <h1>Restablecer Contraseña</h1>
                            <input type="email" id="userEmail" placeholder="Ingresa tu correo electrónico" required/>
                            <button type="submit" id="sendResetCode">Enviar Código</button>
                        </form>
                        <!-- Formulario para ingresar el código de verificación y la nueva contraseña -->
                        <form id="reset-password-form" action="/resetPassword" style="display: none;" method="POST">
                            <h1>Verificar Código y Restablecer Contraseña</h1>
                            <input type="text" id="resetCode" placeholder="Ingresa el código de verificación" required/>
                            <input type="password" id="newPassword" placeholder="Ingresa Nueva Contraseña" required/>
                            <input type="password" id="confirmPassword" placeholder="Confirmar Contraseña" required/>
                            <button type="submit" id="resetPassword">Restablecer Contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de éxito -->
        <div id="ModalPassword" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <div class="icon-box">
                            <i class="material-icons">&#xE876;</i>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <h4>¡Genial!</h4>
                        <p>Tu contraseña ha sido actualizada correctamente.</p>
                        <button class="btn btn-success" data-dismiss="modal"><span>Comenzar</span> <i class="material-icons">&#xE5C8;</i></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de error -->
        <div id="ModalPasswordError" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <div class="icon-box">
                            <i class="material-icons">&#xE14C;</i> <!-- Icono de error -->
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <h4>¡Error!</h4>
                        <p>Las contraseñas no coinciden o el código es incorrecto.</p>
                        <button class="btn btn-danger" data-dismiss="modal"><span>Intentar de nuevo</span> <i class="material-icons">&#xE5C8;</i></button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
